<html>
    <head>
        <title>微博</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        {% block ext_css %}{% endblock %}
    </head>

    <body>
        <!-- 导航栏 -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="/">首页</a></li>
                      <li><a href="#">个人信息</a></li>
                      <li><a href="#">热门排行</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container">
            <div class="row">

                <!-- 内容区 -->
                <div class="col-sm-8">
                    {% block content %}{% endblock %}
                </div>

                <!-- 边栏 -->
                <div class="col-sm-4">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
