<html>
    <head>
        <title>迷你微博</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <style>
            body { padding-top: 50px; }

            textarea { resize: none }

            .text-gray {
                color: #777;
            }

            .transparent-bg {
                background-color: transparent;
            }
        </style>
        {% block ext_css %}{% endblock %}
    </head>

    <body>
        <!-- 导航栏 -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img width="25px" src="{{ url_for('static', filename='img/logo.png') }}">
                    </a>
                    <a class="navbar-brand" href="/">迷你微博</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li {% if request.path == '/weibo/' %}class="active"{% endif %}>
                            <a href="/">首页</a>
                        </li>
                        <li {% if request.path == '/weibo/post' %}class="active"{% endif %}>
                            <a href="/weibo/post">发表微博</a>
                        </li>
                        <li><a href="#">热门排行</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if 'uid' in session %}
                        <li {% if request.path == '/user/info' %}class="active"{% endif %}>
                            <a href="/user/info">个人信息</a>
                        </li>
                        <li><a href="/user/logout">退出</a></li>
                        {% else %}
                        <li><a href="/user/register">注册</a></li>
                        <li><a href="/user/login">登陆</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">

                <!-- 内容区 -->
                <div class="col-sm-8">
                    {% block content %}{% endblock %}
                </div>

                <!-- 边栏 -->
                <div class="col-sm-4">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
