{% extends "base.html" %}

{% block ext_css %}
<style>
    body {
        padding-top: 100px;
        padding-bottom: 100px;
    }
</style>
{% endblock %}

{% block content %}

<!-- 显示当前页的微博 -->
{% for wb in wb_list %}
<div class="alert alert-info" >
    <div class="row">
        <div class="col-sm-10">
            <a href="/user/info?uid={{ wb.uid }}">
                <strong>{{ users[wb.uid] }}</strong>
            </a>：
        </div>
    </div>
    <br>
    <span>{{ wb.content | replace('\n', '<br>') | safe }}</span>
</div>

<div class="breadcrumb text-right transparent-bg">
    <li class="active">{{ wb.created }}</li>

    <li>
        <a class="btn btn-success btn-xs" href="/weibo/like?wid={{ wb.id }}">
            <span class="glyphicon glyphicon-heart"></span>
            &nbsp;
            <span class="badge">{{ wb.n_like }}</span>
        </a>
    </li>

    <li>
        <a class="btn btn-primary btn-xs" href="/weibo/show?wid={{ wb.id }}">查看</a>
    </li>
</div>

{% if not loop.last %}<hr>{% endif %}

{% else %}
<div>当前还没有人发过微博，您来抢沙发吧！</div>
{% endfor %}

<!-- 显示页码 -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% for p in range(n_page) %}
            {% if loop.index == page %}
            <li class="active"><a href="#">{{ loop.index }}</a></li>
            {% else %}
            <li><a href="/weibo/follow_weibo?page={{ loop.index }}">{{ loop.index }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

{% endblock %}
