{% extends "base.html" %}

{% block content %}

<h3> {{ user.nickname }} ：</h3>

<div class="alert alert-info" role="alert">
    {{ weibo.content }}
</div>

<div class="text-right">
    <span style="color: gray;">{{ weibo.updated }}</span>
    {% if 'uid' in session and session['uid'] == weibo.uid %}
    <a href="/weibo/edit?wid={{ weibo.id }}">编辑</a>
    <a href="/weibo/delete?wid={{ weibo.id }}">删除</a>
    {% endif %}
</div>

<hr>

<div class="text-right">
    <span class="label label-primary">点赞</span>
    <span class="label label-warning">评论</span>
</div>
{% endblock %}
